################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CopyPhoto/Заметки.txt
/CopyPhoto/Заметки.xlsx
